*{
    margin: 0px;
    padding: 0px;
}
ul{
    list-style: none;
}
a{
    color: white;
    text-decoration: none;
}

#navbar{
    height: 40px;
    border: rgb(186, 4, 4);
    background-color: rgb(186, 4, 4);
    line-height: 40px;
}

#navbar nav > ul > li{
   display: inline-block;
}

#navbar nav > ul
{
    width: 90%;
    margin: auto;
}
#navbar ul li a{
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    /* color: white; */
    /* border-top: 2px solid rgb(186, 4, 4); */
}
#navbar ul li a:hover{
    /* border-top-color: rgb(239, 149, 3); */
}
#navbar ul ul{
    display: none;
    position: absolute;
    width: auto;
}
#navbar ul li{
    position: relative;
}

#navbar nav>ul  ul 
{
width: max-content;
}
#navbar nav > ul >li:hover > div > ul
{
    display:block;
}
#navbar ul ul li a{
    background-color: rgb(186, 4, 4);
    border-top: 2px solid rgb(215, 67, 67);
}


#navbar > nav > ul > li > div > ul > li:hover > div > ul
{
    display: block;
    left: 100%;
    top: 0px;
}

#navbar>nav>ul>li>div>ul>li:hover>a
 {
    color: rgb(186, 4, 4);
    background-color: white;
}

#navbar>nav>ul>li>div>ul li:hover>a{
    color: rgb(186, 4, 4);
    background-color: white;
}


#navbar> nav >ul> li> div >ul >li >div> ul> li:hover >div> ul{
    display: block;
    left: 100%;
    top: 0px;
    background-color: green;
}

