<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Button Component</title>
    <link rel="stylesheet" href="./css/components.css" />
  </head>
  <body style="padding: 100px">
    <br />
    <button class="btn">Defult Button</button>
    <button class="btn btn-success">Success Button</button>
    <button class="btn btn-danger">Danger Button</button>
    <button class="btn btn-warning">Wrning Button</button>
    <button class="btn btn-info">Info Button</button>

    <button class="btn btn-block btn-success">Block Button</button>

    <button class="btn btn-sm">Smll Button</button>
    <button class="btn">MD Button</button>
    <button class="btn btn-lg">lrge Button</button>
    <button class="btn btn-xl">extr lg Button</button>
    <button class="btn btn-2xl">extr extr lg Button</button>

    <button class="btn btn-lg btn-danger btn-block">submit form</button>

    <button class="btn btn-lg btn-danger btn-block">submit form</button>
  </body>
</html>
